*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    user-select: none;
}
.container{
    width: 100%;
    height: 100vh;
    background-color:#1b2631;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: #355064;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.2);
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
}
form input.color{

    background-color:#283d4d;
}
.containerhistory button{
    width: 40px;
    height: 40px;    
    background-color: transparent;    
    outline: none;
    border: none;
    font-size: 20px;
    cursor: pointer;

}
.container button{
    width: 40px;
    height: 40px; 
    margin: 5px 5px;   
    background-color: transparent;    
    outline: none;
    border: none;
    font-size: 25px;
    cursor: pointer;  
    color:#71b1e3;  
}
.container p{
    font-size: 23px;
    margin: 0px 5px;
    padding: 3px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}

@media (max-width: 806px) {
    .calculator form input{
        width: 60px;
        height: 60px;
        margin: 5px;
    }
    form input.equal{
        width: 132px;
    }
}